{%extends "bootstrap/base.html" %}

{% block title %}Encounter Manager{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static',filename='css/custom.css')}}">
{% endblock %}

{% block navbar %}
  {% include "navbar.html" %}
{% endblock %}

{% block content %}  
<div class="container">

  {% block flasher %}
    {%include "flasher.html" ignore missing %}
  {% endblock %}

  {% block main_content %}
  {% endblock %}

  {% block footer %}
    {% include "footer.html" ignore missing %}
  {% endblock %}

  {% block debug %}
    {% include "debug.html" %}
  {% endblock %}

{% endblock %}