{% extends "monster.html" %}
{% block monster_content %}
{% import 'bootstrap/wtf.html' as wtf %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Create a Monster Action for {{monster.name}}</h1>
  </div>
  <div class="panel-body">
    {{
      wtf.quick_form(
        form,
        action=url_for('create_monster_action',monster_id=monster.get_id()),
        button_map = {
          'save': 'primary'
        }
      )
    }}
  </div>
</div>

{% endblock %}
