{% extends "hero.html" %}
{% block hero_content %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import "util.html" as util %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">
      <img src="https://www.gravatar.com/avatar/{{hero.get_gravatar_hash()}}?s=50&d=wavatar" alt="avatar" class="img-rounded" />
      Edit {{hero.hero_name}}
    </h1>
  </div>
  <div class="panel-body">
    {{
      wtf.quick_form(
        form,
        action=url_for('edit_hero',hero_id=hero.get_id()),
        button_map = {
          'save': 'primary'
        }
      )
    }}
    {{util.build_link('Delete hero',url_for('destroy_hero',hero_id=hero.get_id()),"btn btn-danger")}}
  </div>
</div>

{% endblock %}
