{% extends "encounter.html" %}
{% block encounter_content %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import "util.html" as util %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">
        <img src="https://www.gravatar.com/avatar/{{encounter.get_gravatar_hash()}}?s=30&d=identicon" alt="avatar" xheight="35" xwidth="35" class="img-rounded pull-left" />
      Edit {{encounter.name}}
    </h1>
  </div>
  <div class="panel-body">
    {{
      wtf.quick_form(
        form,
        action=url_for('edit_encounter',encounter_id=encounter.get_id()),
        button_map = {
          'save': 'primary'
        }
      )
    }}
    {{util.build_link('Delete encounter',url_for('destroy_encounter',encounter_id=encounter.get_id()),"btn btn-danger")}}
  </div>
</div>

{% endblock %}
