{% macro build_link(text, url="#", class ="") -%}
<a href="{{url}}" class="{{class}}">{{text}}</a>
{%- endmacro %}

{% macro gravatar_small(c) -%}
  <img src="https://www.gravatar.com/avatar/{{c.get_gravatar_hash()}}?s=30&d=retro" alt="avatar" xheight="35" xwidth="35" class="img-rounded" />
{%- endmacro %}

{% macro display_monster(m, editable=True) %}

<div class="panel panel-primary">
  <div class="panel-heading monster-panel">
    <div class="monster-left">
      <strong>{{m.name}}</strong><br/>
      <small>{{m.monster_type}}{% if m.keywords|trim %}({{m.keywords}}){% endif %}</small>
    </div>
    <div class="monster-right">
      <strong>Level:</strong>{{m.level}}{%if m.second_role != 'Standard'%} {{m.second_role}}{%endif%}</br>
      <small>{{m.get_xp()}} XP</small>
    </div>
  </div>
  <div class="panel-body monster-panel">
    <div class="monster-left">
      <strong>HP: </strong>{{m.max_hp}}
      <strong>Bloodied: </strong>{{m.max_hp//2}}
      <br/>
      <strong>AC: </strong>{{m.ac}}
      <strong>Fortitude: </strong>{{m.fortitude}}
      <strong>Reflex: </strong>{{m.reflex}}
      <strong>Will: </strong>{{m.will}}
      <br/>
      <strong>Speed: </strong>{{m.speed}}
    </div>
    <div class="monster-right">
      <strong>Initiative: </strong>+{{m.initiative_modifier}}
      <br/>
      <strong>Perception: </strong>+{{m.perception}}
      <br/>
      {{m.senses}}
    </div>
  </div>
  {#add abilities #}
  <div class="list-group">
    {% if m.get_traits()|length > 0 %}
      <div class="list-group-item list-group-item-primary">
        Traits
      </div>
      {% for trait in m.get_traits() %}
        {{display_action(trait, editable)}}
      {%endfor%}
    {%endif%}

  </div>
  {% if editable == True %}
  <div class="panel-footer monster-panel">
    <div class="monster-right">
      <p>{{build_link("Edit monster",url_for("edit_monster", monster_id=m.get_id()), "btn btn-xs btn-success")}}<p>
      <p>{{build_link("Add an action",url_for("create_monster_action",monster_id=m.get_id()),"btn btn-xs btn-success")}}</p>
    </div>
  </div>
  {%endif%}
</div>

{% endmacro %}