/* universal */

body {
  padding-top: 100px;
}

.monster-left {
  width:75%;
  float:left;
}

.monster-right{
  width:25%;
  float:right;
  text-align:right;
}

.monster-panel{
  overflow:hidden;
  width:100%;
}
