/* universal */
@font-face {
    font-family: 'Glyph DnD';
    src: url('../fonts/dnd-glyph-webfont.eot');
    src: url('../fonts/dnd-glyph-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dnd-glyph-webfont.woff') format('woff'),
         url('../fonts/dnd-glyph-webfont.ttf') format('truetype'),
         url('../fonts/dnd-glyph-webfont.svg#your_iconsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
  padding-top: 100px;

}

.monster-left {
  width:75%;
  float:left;
}

.monster-right{
  width:25%;
  float:right;
  text-align:right;
}

.monster-panel{
  overflow: hidden;
  width:100%;
}

.glyphletters {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Arial Black';
  line-height: 1;
  font-size:1.1em;
}

.glyphdnd {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyph DnD';
  line-height: 1;
  font-size:1.1em;
}

.glyphdnd-d6-1:before {
  content: "1";
}

.glyphdnd-d6-2:before {
  content: "2";
}

.glyphdnd-d6-3:before {
  content: "3";
}

.glyphdnd-d6-4:before {
  content: "4";
}

.glyphdnd-d6-5:before {
  content: "5";
}

.glyphdnd-d6-6:before {
  content: "6";
}

.glyphdnd-area:before {
  content: "a";
}

.glyphdnd-bloodied:before {
  content: "b";
}

.glyphdnd-close:before {
  content: "c";
}

.glyphdnd-dominated:before {
  content: "d";
}

.glyphdnd-grabbed:before {
  content: "g";
}

.glyphdnd-melee-basic:before {
  content: "M";
}

.glyphdnd-melee:before {
  content: "m";
}

.glyphdnd-ranged-basic:before {
  content: "R";
}

.glyphdnd-ranged:before {
  content: "r";
}

.glyphdnd-stunned:before {
  content: "s";
}

.glyphdnd-dazed:before {
  content: "z";
}

.glyphletters-ko:before { 
  content: "KO";
}

/*
   Weakened Blinded Prone Immobilized Slowed Marked Dying Unconscious Helpless Surprised Petrified Restrained Deafened ".split()
_statuses.append(["Removed from play","Ongoing damage"])
*/